<div class="relative ">
    <app-header/>
    <div class="text-center flex flex-col gap-3 h-[40vh] pt-16">
        <div>
            <span class="text-5xl font-bold w-6 text-center">Welcome To <span class="text-purple-700">EduNexus</span> </span>
        </div>
      <span class="text-xl font-semibold">Your anonymous platform for sharing and discovering authentic college experiences.</span>
        <div class="mt-3" >
            <button [routerLink]="['feed-page']" routerLinkActive="router-link-active"  class="hover:scale-110 transition-all duration-100 shadow-md rounded-md p-4 gap-2 text-center flex flex-col mx-auto items-center">
                <span class="text-md font-medium">Explore Trending Posts</span>
                <div>
                    <app-arrow class=""/>
                </div>
            </button>
            
        </div> 
    </div>

    <div class="h-[50vh] flex bg-slate-200  items-center gap-6 justify-center">
        <div class="w-[30%]">
            <img height="250" width="250" src="assets\undraw_document-analysis_3c0y.svg" alt="">
        </div>

        <div class="w-[30%] space-y-6 text-left">
            <p class="text-5xl font-semibold ">Real Student Insights</p>
            <p class="text-lg font-medium text-gray-500">Get unfiltered perspectives from current students and recent graduates. </p>
        </div>

    </div>

    <div class="h-[50vh] flex bg-slate-200  items-center gap-6 justify-center">

        <div class="w-[30%] space-y-6 text-left">
            <p class="text-5xl font-semibold ">100% Anonymous </p>
            <p class="text-lg font-medium text-gray-500">Share your experiences without revealing your identity. Your privacy is our top priority. </p>
        </div>
        <div class="w-[30%]">
            <img height="250" width="250" src="assets\anorightcolor.svg" alt="">
        </div>

        

    </div>

    <div class="h-[50vh] flex bg-slate-200  items-center gap-6 justify-center">
        <div class="w-[30%]">
            <img height="250" width="250" src="assets\testmonial.svg" alt="">
        </div>

        <div class="w-[30%] space-y-6 text-left">
            <p class="text-5xl font-semibold ">Comprehensive Reviews</p>
            <p class="text-lg font-medium text-gray-500">Cover everything from academics to campus life, helping you make informed decisions.</p>
        </div>

    </div>
    <!-- footer
     <div class="absolute bottom-0">
       <span> © CampusInsider. All rights reserved.</span>
     </div> -->
</div>