<div class="relative">
    <app-header/>
    <div class="text-center flex flex-col gap-3 h-[40vh] pt-16">
        <div>
            <span class="text-3xl font-bold w-6 text-center">Welcome To <span class="text-purple-700">CampusInsider</span> </span>
        </div>
      <span class="text-xl font-semibold">Your anonymous platform for sharing and discovering authentic college experiences.</span>
        <div class="mt-3" >
            <button class="hover:scale-110 transition-all duration-100 shadow-md rounded-md p-4 gap-2 text-center flex flex-col mx-auto items-center">
                <span class="text-md font-medium">Explore Trending Posts</span>
                <div>
                    <app-arrow class=""/>
                </div>
            </button>
            
        </div> 
    </div>

    <div >
         <app-card></app-card>  
    </div>

    <!-- footer -->
     <div class="">
       <span> © CampusInsider. All rights reserved.</span>
     </div>
</div>