<div class="relative max-h-[100vh] overflow-y-hidden">
  <router-outlet />
  <div class="z-50 h-[100vh] w-[100vw]">

    <div class="z-10">
      @if(showDialog){
        <app-dialog
        [title]="'Are You Sure Want to Log Out ? '"
        [btn1Label]="'Log Out'"
        [btn2Label]="'Cancel'"
        (handleBtn1Click)="handleLogout()"
        (handleBtn2Click)="closeDialog()"
      />
       }
    </div>

    <!-- top bar  -->
    <div
      class="sm:hidden z-50 absolute top-0 w-[100vw] h-[3rem] bg-slate-50 border flex items-center justify-between"
    >
      <h1 class="text-2xl font-semibold py-2 px-4">EduNexus</h1>

      <div (click)="openDialog()" class="px-4 text-2xl" [class]="router.url === '/profile' ? 'block' : 'hidden'">
        <fa-icon [icon]="fasGear" ></fa-icon>
      </div>
    </div>
    <!-- bottomnavbar  -->
    <div
      class="sm:hidden z-50 absolute w-full h-[4rem] bottom-0 bg-slate-50 border border-t-2 border-black"
    >
      <div class="mt-3 flex justify-around gap-3 items-center">
        <div [routerLink]="['/feed-page']">
          <fa-icon
            class="text-3xl"
            [icon]="router.url === '/feed-page' ? fasCompass : farCompass"
          ></fa-icon>
        </div>

        <div [routerLink]="['/review']" routerLinkActive="router-link-active">
          <fa-icon
            class="text-3xl"
            [icon]="router.url === '/review' ? fasNewspaper : farNewspaper"
          ></fa-icon>
        </div>

        <div
          [routerLink]="['/create-review']"
          routerLinkActive="router-link-active"
        >
          <fa-icon
            class="text-3xl"
            [icon]="router.url === '/create-review' ? fasPenToSquare : farPenToSquare"
          ></fa-icon>
        </div>

        <div
          [routerLink]="['/create-post']"
          routerLinkActive="router-link-active"
        >
          <fa-icon
            class="text-3xl"
            [icon]="router.url === '/create-post' ? fasSquarePlus : farSquarePlus"
          ></fa-icon>
        </div>

        <div [routerLink]="['/profile']" routerLinkActive="router-link-active">
          <fa-icon
            class="text-3xl"
            [icon]="router.url === '/profile' ? fasUserCircle : farUserCircle"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
