<div class="relative max-h-[100vh] overflow-y-hidden">



   <router-outlet/>
   <div class="z-50 h-[100vh] w-[100vw]">
  
      <!-- bottomnavbar  -->
      <div class="sm:hidden z-50 absolute w-full h-[4rem] bottom-0 bg-slate-50 border border-t-2 border-black">
       <div class="mt-3 flex justify-around gap-3 items-center">
          <div [routerLink]="['/feed-page']" routerLinkActive="router-link-active" >
   
            
             <fa-icon  class="text-3xl" [icon]="faHouse"></fa-icon>
           
                <!-- <i class="fa-solid fa-house"></i> -->
            
          </div>
   
          <div  [routerLink]="['/review']" routerLinkActive="router-link-active" >
   
           
            <fa-icon class="text-3xl" [icon]="faFilePen"></fa-icon>
          
               <!-- <i class="fa-solid fa-house"></i> -->
           
         </div>

         <div  [routerLink]="['/create-post']" routerLinkActive="router-link-active" >
   
            
            <fa-icon class="text-3xl" [icon]="faSquarePlus"></fa-icon>
          
               <!-- <i class="fa-solid fa-house"></i> -->
           
         </div>

         <div  [routerLink]="['/profile']" routerLinkActive="router-link-active" >
   
            
            <fa-icon class="text-3xl" [icon]="faUserCircle"></fa-icon>
          
               <!-- <i class="fa-solid fa-house"></i> -->
           
         </div>
       </div>
     </div>
   </div>
</div>


