<div class="">
    <div class="w-[100vw] h-[100vh]  bg-gray-500 "> 
        <div class="absolute z-10 w-[100vw] h-[100vh] flex justify-center items-center">
        <div class="bg-white rounded-lg p-5 w-[80vw] h-[30vh] sm:w-[40vw] sm:h-[30vh] ">
            <div>
                <h2 class="text-lg sm:text-2xl text-black font-semibold">{{title()}}</h2>
            </div>

            <div class="flex w-[90%] mx-auto justify-between mt-8">
                <button (click)="handlebtn2Click"  class="px-5 py-2 bg-green-400 text-white rounded-md font-semibold">{{btn2Lable()}}</button>
                <button (click)="handlebtn1Click" class="px-5 py-2 bg-red-500 text-white rounded-md font-semibold border">{{btn1Lable()}}</button>
            </div>
    
    
        </div>
    </div>    
    </div>

    <
    
</div>

