/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "~@fortawesome/fontawesome-free/css/all.css";

@layer utilities{
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

.primary-btn{
  border-radius: 2rem;
  background-color: black;
  color: white;
  padding: 2rem 3rem;

}
.secondary-btn{
  border-radius: 2rem;
  background-color: white;
  color: black;
  padding: 2rem 3rem;
}