<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="relative   flex flex-col gap-4">
    <div class="absolute top-7 left-4 hidden sm:block rounded-lg border w-[18rem] h-[20rem] shadow-md  p-10 ">
        <div class="flex  flex-col gap-6">
          <div class="flex gap-10  items-center">
            <button class="text-xl font-semibold text-gray-800 w-[50%] text-left ">Edit Profile</button>
            <i class="fa-solid fa-user-pen"
           style="font-size:24px;"> 
          </i> 
          </div>
          <div class="flex gap-10 items-center">
            <button class="text-xl font-semibold text-gray-800 w-[50%] text-left">Settings</button>
            <i class="fa-solid fa-gear" style="font-size:24px;"></i>
          </div>
          <div class="flex gap-10  items-center">
            <button class="text-xl font-semibold text-gray-800 w-[50%] text-left">Reviews</button>
            <i class="fa-solid fa-pen-to-square" style="font-size:24px;"></i>
          </div>
          <div  class="flex gap-10 items-center">
            <button class="text-xl font-semibold text-gray-800 w-[50%] text-left">Posts</button>
            <i class="fa-regular fa-square-plus" style="font-size:24px;"></i>
          </div>
          <div class="flex gap-10 items-center">
            <button class="text-xl font-semibold text-gray-800 w-[50%] text-left">Log Out</button>
            <i class="fa-solid fa-arrow-right-from-bracket"style="font-size:24px;" ></i>
          </div>
        </div>
    </div>
    <!-- profile card -->
    <div class="relative mx-auto my-6 rounded-lg border shadow-md">
        <div>
            <img class="rounded-t-lg object-cover h-[200px] w-[800px]" src="https://images.unsplash.com/photo-1739382122868-841cb1e669df?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMHx8fGVufDB8fHx8fA%3D%3D" alt="bg image">
        </div>
        <div class="absolute rounded-full top-24 left-8 h-40 bg-white w-40">
            <img   class="absolute rounded-full left-2 top-2 object-cover h-36 w-36" src="https://plus.unsplash.com/premium_photo-1737659254845-d52fe134d589?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxfHx8ZW58MHx8fHx8"  alt="profile image">
        </div>
        <div class="mt-14 ml-10 space-x-1">
            <div class="flex ">
              <h1 class="text-2xl font-bold ">Cassie White</h1>
              <i class="fa-solid fa-certificate " style="color: #0091ff;"></i>
            </div>
            <h2 class="text-xl font-semibold">Student at KALOL INSTITUTE OF TECH. & RESEARCH CENTER ,KALOL 026</h2>
            <h3 class="text-lg text-slate-500">Kalol, Gujarat, India </h3>
        </div>
     
        <div class="flex gap-7 mt-5 ml-10 mb-8">
            <p class="text-xl font-semibold">Reviews 100</p>
            <p class="text-xl font-semibold">Posts 100</p>
        </div>
    </div>
    <!-- recent reviews and post  -->
    <div class="mx-auto rounded-lg border shadow-md w-[50rem] h-[50rem]">

    </div>
</div>
