<div class="max-w-[100vw] overflow-x-hidden">
  <div class="z-10">
    @if(showDialog){
      <app-dialog
      [title]="'Are You Sure Want to Log Out ? '"
      [btn1Label]="'Log Out'"
      [btn2Label]="'Cancel'"
      (handleBtn1Click)="handleLogout()"
      (handleBtn2Click)="closeDialog()"
    />
     }
  </div>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <div class="relative   flex flex-col gap-4">
    <div class="bg-slate-400 w-full h-12">
      <button (click)="openDialog()">logOut</button>
    </div>
      <div class=" absolute top-7 left-4 hidden sm:block rounded-lg border w-[18rem] h-[20rem] shadow-md  p-10 ">
          <div class="flex  flex-col gap-6">
            <div class="flex gap-10  items-center">
              <button class="text-xl font-semibold text-gray-800 w-[50%] text-left ">Edit Profile</button>
              <i class="fa-solid fa-user-pen"
             style="font-size:24px;"> 
            </i> 
            </div>
            <div class="flex gap-10 items-center">
              <button class="text-xl font-semibold text-gray-800 w-[50%] text-left">Settings</button>
              <i class="fa-solid fa-gear" style="font-size:24px;"></i>
            </div>
            <div class="flex gap-10  items-center">
              <button class="text-xl font-semibold text-gray-800 w-[50%] text-left">Reviews</button>
              <i class="fa-solid fa-pen-to-square" style="font-size:24px;"></i>
            </div>
            <div  class="flex gap-10 items-center">
              <button class="text-xl font-semibold text-gray-800 w-[50%] text-left">Posts</button>
              <i class="fa-regular fa-square-plus" style="font-size:24px;"></i>
            </div>
            <div class="flex gap-10 items-center">
              <button (click)="handleLogout()" class="text-xl font-semibold text-gray-800 w-[50%] text-left">Log Out</button>
              <i class="fa-solid fa-arrow-right-from-bracket"style="font-size:24px;" ></i>
            </div>
          </div>
      </div>
      <!-- profile card -->
      <div class="relative max-w-[100vw] mx-auto  rounded-lg border shadow-md">
          <div>
              <img class="rounded-t-lg object-cover h-[12.5rem] w-[50rem]" src="../../../assets/bg_cover.jpg" alt="bg image">
          </div>
          <div class="absolute rounded-full top-24 left-8 h-40 bg-white w-40">
              <img   class="absolute rounded-full left-2 top-2 object-cover h-36 w-36" src={{userData?.profileUrl}}  alt="profile image">
          </div>
          <div class="mt-14 ml-10 space-x-1">
              <div class="flex ">
                <h1 class="text-2xl font-bold ">{{userData?.fullname}}</h1>
                <i class="fa-solid fa-certificate " style="color: #0091ff;"></i>
              </div>
              <h2 class="text-xl font-semibold">{{userData?.username}}</h2>
              <h3 class="text-lg text-slate-500">Kalol, Gujarat, India </h3>
          </div>
       
          <div class="flex gap-7 mt-5 ml-10 mb-8">
              <p class="text-xl font-semibold">Reviews 100</p>
              <p class="text-xl font-semibold">Posts 100</p>
          </div>
      </div>
      <!-- recent reviews and post  -->
      <div class="mx-auto rounded-lg border shadow-md w-[50rem] h-[50rem]">
  
      </div>
  </div>
</div>

